extends layout 

block content
  html
    head
      
    

    body
            
      div.paste
        form(action="/save", method="POST")
          br
          textarea(class="textinput",name="content", id="content", placeholder="Paste your content here")
          br
          button(class="submit", type="submit") Save
        if id_content
          p Your paste has been saved at:
          a(href=`/pastes/${id_content}`, class='button') Link



        
