extends layout 

block content
    html 
        head 
            h1 Morcela Viewer 
            
        body 
            div
                p Here's your Morcela: 
                div.paste-content
                    != pasteContent
            