extends layout 

block content
    html 
        head 


        body
            
            script(type='text/javascript').
                function copyToClipboard(){
                    navigator.clipboard.writeText(window.location.href);   
                    var tooltip = document.getElementById("copyTooltip");   
                    tooltip.innerHTML = "Copied URL to your Morcela";             
                }
                function outTooltip(){
                    var tooltip = document.getElementById("copyTooltip");
                     tooltip.innerHTML = "Copy to clipboard";
                }
                


            div.paste-content
                div.htmloutput
                    
            script(src='javascripts/pbkdf2.js') 
               
            div(class="tooltip-custom")
                button(class="button",onclick='copyToClipboard()',onmouseout="outTooltip()",onmousein="outTooltip()") Share Morcela
                    span(class="tooltiptext-custom" id="copyTooltip") 
                    
