extends layout 

block content
    html 
        head 
            
            
        body 
            div.paste-content
                div.htmloutput
                    != pasteContent
            